<div class="service-container">
    <h2>Añadir Servicio</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="serviceForm" novalidate class="service-form">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" id="title" formControlName="title" required class="form-control" />
        <div *ngIf="serviceForm.get('title')?.invalid && serviceForm.get('title')?.touched" class="error">
          El título es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="subtitle">Subtítulo</label>
        <input type="text" id="subtitle" formControlName="subtitle" required class="form-control" />
        <div *ngIf="serviceForm.get('subtitle')?.invalid && serviceForm.get('subtitle')?.touched" class="error">
          El subtítulo es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label for="description">Descripción</label>
        <textarea id="description" formControlName="description" required class="form-control"></textarea>
        <div *ngIf="serviceForm.get('description')?.invalid && serviceForm.get('description')?.touched" class="error">
          La descripción es obligatoria.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary confirm-btn" [disabled]="!serviceForm.valid">
        Añadir Servicio
      </button>
    </form>
  </div>
  
